#leftSideBar {
    grid-area: left-sidebar;
    display: flex;
    position: relative;
    min-height: 0;
    background-color: var(--background-black);
    flex-direction: column;
    width: var(--left-sidebar-width);
    z-index: var(--left-sidebar-z-index);
}

.navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.top-container {
    background-color: var(--background-base);
    border-radius: var(--radius-small);
    cursor: default;
    overflow-x: hidden;
}

.header {
    display: flex;
}

.title {
    height: 24px;
    margin-top: 20px;
    padding: 0 24px;
}

.nav-list {
    display: block;
    padding: var(--space-2) var(--space-3);
    list-style: none;
}

.list-item {
    padding: var(--space-1) var(--space-3);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 40px;
    gap: var(--space-5);
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
    color: var(--text-base);
    outline: none;
} 

.bottom-container {
    min-height: 0;
    width: 100%;
    background-color: var(--background-base);
    border-radius: var(--radius-small);
    cursor: default;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    user-select: none;
}

.library {
    display: flex;
    padding-top: 0;
    width: 100%;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-2) var(--space-4);
}

.header-div {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.div-button {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    min-width: 0;
    margin-inline-end: auto;
}

.btn-general {
    font-family: var(--font-primary);
    font-size: var(--font-body-large);
    font-weight: var(--fw-bold);
    background-color: transparent;
    border: 0;
    border-radius: 9999px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    color: var(--text-subtle);
    min-inline-size: 0px;
    padding-block-start: calc(var(--space-2, 8px) - 2px);
    padding-block-end: calc(var(--space-2, 8px) - 2px);
    padding-inline: 0px;
}

.btn-global {
    max-width: 100%;
    transition: color .2s linear;
    white-space: nowrap;
}

.btn-global:hover,
.btn-global:focus-visible,
.btn-global:active {
   color: var(--text-base);
   opacity: 1;
}

.library-button {
    display: flex;
    height: 40px;
    justify-content: flex-start;
    min-block-size: 40px;
    padding: var(--space-1) var(--space-2);
    cursor: pointer;
    flex-shrink: 0;
    align-items: center;
}

.icon-wrapper-1 {
    display: flex;
    margin-inline-end: var(--space-3);
}

.icon-wrapper-2 {
    display: flex;
}

.text-wrapper {
    margin-top: 5px;
}

.span-button {
    display: block;
}

.icon-button {
    font-size: var(--font-body-medium);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-block-size: var(--space-8);
    padding-block-start: var(--space-2, 8px);
    padding-block-end: var(--space-2, 8px);
    padding-inline-start: var(--space-2, 8px);
    padding-inline-end: var(--space-2, 8px);
}

.icon-button:hover {
    background-color: var(--background-highlight);
    color: var(--text-base);
}

.icon-button:active {
    background-color: var(--background-pressed);
    color: var(--text-base);
    opacity: 1;
}