#leftSideBar {
    grid-area: left-sidebar;
    display: flex;
    position: relative;
    min-height: 0;
    background-color: var(--background-black);
    flex-direction: column;
    width: var(--left-sidebar-width);
    z-index: var(--left-sidebar-z-index);
}

.navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.top-container {
    background-color: var(--background-base);
    border-radius: var(--radius-small);
    cursor: default;
    overflow-x: hidden;
}

.header {
    display: flex;
}

.title {
    height: 24px;
    margin-top: 20px;
    padding: 0 24px;
}

.nav-list {
    display: block;
    padding: var(--space-2) var(--space-3);
    list-style: none;
}

.list-item {
    padding: var(--space-1) var(--space-3);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 40px;
    gap: var(--space-5);
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
    color: var(--text-base);
    outline: none;
} 

.bottom-container {
    min-height: 0;
    width: 100%;
    background-color: var(--background-base);
    border-radius: var(--radius-small);
    cursor: default;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    user-select: none;
}

.library {
    display: flex;
    padding-top: 0;
    width: 100%;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
}

.content {
    height: 100%;
    overscroll-behavior-y: contain;
}