.left-side-bar-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-2) var(--space-4);
}

.header-div {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.div-button {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    min-width: 0;
    margin-inline-end: auto;
}

.library-button:hover,
.library-button:focus-visible,
.library-button:active {
   color: var(--text-base);
   opacity: 1;
}

.library-button {
    display: flex;
    height: 40px;
    max-width: 100%;
    justify-content: flex-start;
    min-block-size: 40px;
    white-space: nowrap;
    padding: var(--space-1) var(--space-2);
    flex-shrink: 0;
    align-items: center;
    transition: color .2s linear;
}

.icon-wrapper-1 {
    display: flex;
    margin-inline-end: var(--space-3);
}

.icon-wrapper-2 {
    display: flex;
}

.lsf-text-wrapper {
    margin-top: 5px;
}

.span-button {
    display: block;
}

.icon-button {
    font-size: var(--font-body-medium);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-block-size: var(--space-8);
    padding-block-start: var(--space-2, 8px);
    padding-block-end: var(--space-2, 8px);
    padding-inline-start: var(--space-2, 8px);
    padding-inline-end: var(--space-2, 8px);
    transition: color .2s linear;
}

.icon-button:hover {
    background-color: var(--background-highlight);
    color: var(--text-base);
}

.icon-button:active {
    background-color: var(--background-pressed);
    color: var(--text-base);
    opacity: 1;
}