#main-view {
    grid-area: main-view;
    display: flex;
    flex-direction: column;
    min-height: 0;
    width: 100%;
    height: auto;
    background-color: var(--background-base);
    padding: var(--space-2);
    border-radius: var(--space-2);
    overflow: hidden;
    position: relative;
}

.main-view-container {
    position: relative;
    flex: 1;
    min-height: 0;
}

.scrollbars-overlay {
    height: 100%;
    scrollbar-width: none !important;
    position: relative;
    display: flex;
    align-items: stretch !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    scroll-behavior: auto !important;
    overflow: hidden !important;
}

.viewport {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    scrollbar-width: none !important;
    position: relative;
    border: none;
    outline: none;
    flex: auto !important;
    height: auto;
    margin: 0;
    min-width: 0;
    z-index: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    top: 0;
    right: auto;
    left: 0;
    width: 100%;
    padding: 0;
}

.main-view-viewport-spacer {
    height: 64px;
    position: sticky;
    top: 0;
}

.main-view-viewport-container {
    isolation: isolate;
    padding-bottom: var(--space-8);
    scroll-behavior: smooth;
}