.main-header {
    background-color: rgba(0, 0, 0, .5);
    /* content: contents; */
    display: flex;
    height: 64px;
    position: absolute;
    width: 100%;
    align-items: center;
    z-index: 1;
}

.header-container {
    background-color: var(--background-base);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    bottom: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .25s ease-out;
    z-index: -1;
}

.signup-header {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    justify-content: space-between;
    pointer-events: auto;
    white-space: nowrap;
    padding: 0 16px;
    max-width: 1955px;
    width: 100%;
}

.sign-actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-2);
    align-items: center;
}

.buttons {
    padding: 0;
    pointer-events: auto;
    white-space: nowrap;
}

.signup-header-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-block-size: var(--spce-12, 48px);
    padding-block-start: var(--space-2, 8px);
    padding-block-end: var(--space-2, 8px);
    padding-inline-start: var(--space-8, 32px);
    padding-inline-end: var(--space-8, 32px);
    transition-duration: 33ms;
    transition-property: transform, color;
}

.signup-header-button:hover,
.signup-header-button:focus {
    color: var(--text-base, #fff);
    transform: scale(1.04);
}

.signin-header-button {
    display: inline-block;
    padding: 0px;
    min-inline-size: 0px;
    align-self: center;
    transition-duration: 33ms;
    transition-property: color, transform;
    
}

.button-inner-text {
    position: relative;
    background-color: var(--background-white, #ffffff);
    color: var(--text-black, #000000);
    display: flex;
    border-radius: var(--radius-full, 9999px);
    font-size: inherit;
    min-block-size: var(--spce-12, 48px);
    align-items: center;
    justify-content: center;
    padding-block-start: var(--space-2, 8px);
    padding-block-end: var(--space-2, 8px);
    padding-inline-start: var(--space-8, 32px);
    padding-inline-end: var(--space-8, 32px);
}

.signin-header-button:hover,
.signin-header-button:focus {
    transform: scale(1.04);
}