:root {

    /* COLORS */

    /* dark-mode */

    --background-black: #000000;
    --background-base: #121212;
    --background-frame: #242424;
    --text-base: #ffffff;
    --text-subtle: #a7a7a7;

    /* FONT */
    
    --font-primary: 'Circular', Helvetica, arial, sans-serif;
    
    /* font-size */
    --font-base: 62.5%;
    --fs-headline-large: 3.2rem;
    --fs-headline-medium: 2.8rem;
    --fs-headline-small: 2.4rem;
    --font-body-large: 1.6rem;
    --font-body-medium: 1.4rem;
    --font-body-small: 1.2rem;

    /* Font weight */
    --fw-light: 200;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;
}